.sunsets-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  gap: 15px;
  margin-bottom: 50px;
  font-size: $font-size-sunset;

  .sunset {
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(max(20vw, 100px));

    .location {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .map-image-container {
      width: 100%;
      object-fit: cover;
      img {
        width: 100%;
      }
    }
  }
}
